// Define variables for your color scheme

// For example:
$pcl-black: #011627;
$pcl-blue: #20A4F3;
$pcl-green: #49D4C6;
$pcl-gray: #F6F7F8;
$pcl-red: #FF3366;
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
