<div class="container">
  <br>
  <% if current_user.admin %>
    <div class="btn-group mb-4" role="group" aria-label="Basic example">
      <%= link_to "← Volver al admin", admin_path, class: "btn btn-primary" %>
    </div>
  <% end %>
  <h1>Todas las unidades</h1>
  <ol>
    <% @topics.each do |topic| %>
      <li><%= link_to topic.title, topic_path(topic) %></li>
    <% end %>
  </ol>
  <% if current_user.admin %>
    <div class="btn-group mb-4" role="group" aria-label="Basic example">
      <%= link_to "Agregar →", new_topic_path, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
