<div class="container mt-4">
  <h1>Todas las carreras</h1>
  <ol>
    <% @careers.each do |career| %>
      <li><%= link_to career.name, career_path(career) %></li>
    <% end %>
  </ol>
  <% if current_user.admin %>
    <div class="btn-group mb-4" role="group" aria-label="Basic example">
      <%= link_to "← Volver al admin", admin_path, class: "btn btn-primary" %>
      <%= link_to "Agregar →", new_career_path, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
