<div class="container">
  <br>
  <% if current_user.admin %>
    <%= link_to "< Volver a lista de carreras", careers_path %> <br><br>
  <% end %>
  <div class="forms">
    <h1>Nueva carrera</h1>
  <%= simple_form_for @career do |c| %>
    <%= c.input :name %>
    <%= c.button :submit %>
  <% end %>
  </div>
</div>
