<div class="container">
  <br>
  <% if current_user.admin %>
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to "â† Volver a la lista de carreras", careers_path, class: "btn btn-primary" %>
    </div>
  <% end %>
  <div class="forms">
    <h1>Nueva carrera</h1>
  <%= simple_form_for @career do |c| %>
    <%= c.input :name %>
    <%= c.button :submit %>
  <% end %>
  </div>
</div>
