<div class="container">
  <% if current_user.admin %>
    <div class="btn-group my-4" role="group" aria-label="Basic example">
      <%= link_to "← Volver a la lista de carreras", careers_path, class: "btn btn-primary" %>
    </div>
  <% end %>
  <h1><%= @career.name %></h1>
  <% if current_user.admin %>
    <div class="btn-group mt-4" role="group" aria-label="Basic example">
      <%= link_to "Editar →", edit_career_path(@career), class: "btn btn-primary" %>
      <%= link_to "Eliminar →", career_path(@career),
                        class: "btn btn-primary",
                        data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure you want to delete this career?" } %>
    </div>
  <% end %>
</div>
