<div class="container mt-4">
  <div class="text-center p-4 mb-4" style="background-color: #F6F7F8; border-radius: 8px;">
    <h2 class="card-title mt-4">Necesitamos tu feedback para seguir mejorando 🚀</h2>
    <p class="card-text mt-4 mb-4">Al otro lado hay una persona que te ayudara personalizadamente. Puedes darnos recomendaciones, reclamos o felicitaciones.</p>
  </div>
  <div style="text-align: center;" class="mb-4">
    <h2>Escannea este código y hablemos por WhatsApp</h2>
    <%= image_tag "qr_pasalocl.png", width: "20%"; %> <br>
    <%= link_to "link a WhatsApp", "https://walink.co/d14ce8", target: "_blank" %>
    <h5 style="margin: 32px 0;">Pásalo lo creamos entre todos.</h5>
  </div>
</div>
