<div class="container">
  <br>
  <div class="text-center" style="background-color: #F6F7F8; border-radius: 8px;">
    <br><br><br>
    <h2 class="card-title">La suscripción cuesta $25.000 mensuales</h2>
    <p class="card-text">Con esta tendrás acceso a todos nuestros videos y beneficios.</p>
    <br><br><br>
  </div>
  <br>
  <div style="text-align: center;" class="mb-4">
    <h2>Para suscribirte debes escribirnos por WhatsApp</h2>
    <p>Puedes hacerlo escaneando el siguiente código</p>
    <%= image_tag "qr_pasalocl.png", width: "20%"; %> <br>
    <%= link_to "link a WhatsApp", "https://walink.co/d14ce8", target: "_blank" %>
    <h5 style="margin: 16px 0;">Pásalo lo creamos entre todos.</h5>
    <p style="margin: 16px 20%; color: #20A4F3;">Una vez suscrito tendrás acceso al grupo de la comunidad, donde podrás preguntar ejercicios específicos que serán resueltos por nuestro equipo y publicados en esta plataforma.</p>
    <%= link_to "Ver cursos", courses_path %>
  </div>
</div>
