.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 1px solid #bdbdbd;
}

.card-category a {
  color: #20A4F3;
}

.card-category a:hover {
  color: #49D4C6;
}
