<div class="container">
  <br>
  <% if current_user.admin %>
    <%= link_to "< Volver al admin", admin_path %> <br><br>
  <% end %>
  <h1>Todas las universidades</h1>
  <ol>
    <% @universities.each do |university| %>
      <li><%= link_to university.name, university_path(university) %></li>
    <% end %>
  </ol>
  <% if current_user.admin %>
    <%= link_to "Agregar >", new_university_path %>
  <% end %>
</div>
