<div class="container">
  <% if current_user.admin %>
    <div class="btn-group my-4" role="group" aria-label="Basic example">
      <%= link_to "â† Volver a lista de universidades", universities_path, class: "btn btn-primary" %>
    </div>
  <% end %>
  <h1><%= @university.name %></h1>
  <% if current_user.admin %>
    <div class="btn-group mt-4" role="group" aria-label="Basic example">
      <%= link_to "Editar >", edit_university_path(@university), class: "btn btn-primary" %>
      <%= link_to "Eliminar >", university_path(@university),
                                class: "btn btn-primary",
                                data: {
      turbo_method: :delete,
                        turbo_confirm: "Are you sure you want to delete this university?" } %>
    </div>
  <% end %>
</div>
